*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content 4fr;
}

.sidebar{
    background-color: #1992d4;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 3rem 4.5rem;
    background-color: white;
}

.headerUpper{
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: min-content 7fr min-content;
    gap: 1rem;
    white-space: nowrap;
    align-items: center;
    /* justify-items: center; */
}
.headerLower{
    display: grid;
    /* background-color: aquamarine; */
    grid-template-columns: min-content 7fr 5fr;
    justify-items: start;
    align-items: center;
    gap: 1rem;
}

.lowerIcon{
    grid-row: 1/3;
    display: grid;
    align-content: center;
    justify-items: center;
}


.headerButtons button{
    width: 6rem;
    padding: .5rem;
    text-align: center;
    border-radius: 2rem;
    border: none;
    background-color: #1992d4;
    color: white;
    font-weight: 600;
    cursor: pointer;

}

.headerButtons{
    display: flex;
    gap: 1.25rem;
    justify-self: center;

}


.main{
    background-color: #e2e8f0;
    grid-column: 2/2;
    grid-row: 2/2;
}

.searchBar{
    background-color: #e2e8f0;
    border: none;
    border-radius: 1rem;
    width: 29rem;
    height: 1.25rem;
}

.upperRight{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
    gap: 1rem;
    padding-right: 3rem;
}

.card{
    background-color: #fff;
    padding: 1.25rem 1.25rem 0 1.25rem;
    border-left: .5rem #1992d4 solid;

}

.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projectSection{
    grid-column: 1;
}

.cardWrapper{
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 2fr);
    gap: 1.25rem;
    justify-content: space-between;
    margin: 0 1.25rem;
    height: 75.5vh;
}

.announcementTitle, .yourProjects, .trendingHeader{
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: black;
}


.trendingHeader{
    margin-bottom: .5rem;
}

.trendingUser{
    font-size: .85rem;
    font-weight: 600;
}

.trendingTitle{
    font-size: .8rem;
}

.announcementSubtitle{
    font-size: .85em;
    font-weight: 600;
}

.announcementSubtitle + p{
    font-size: .75em;
}

.announcementTitle{
    margin-bottom: .5rem;
}


.announcementGrid{
    background-color: #fff;
    padding: 1.5rem 1rem;
    display: grid;
    gap: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.trendingSection{
    background-color: white;
    height: 18rem;
    display: grid;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.cardTitle{
    font-weight: 700;
}

.cardBody, .trendingTitle, .announcementSubtitle + p{
    color: #656565;

}

.smallName{
    font-weight: 800;
    font-size: .9rem;
}

.greeting{
    font-weight: 800;
    font-size: .7rem;
}

.bigName{
    font-size: 1.33rem;
    font-weight: 800;
}


.cardBody{
    font-size: .85rem;
}

.trendingCard{
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;

    
}

.trendingCard img{
    margin-left: 1rem;
}

.trendingIcon{
    border-radius: 50%;
    height: 3.5rem;
    background-color: white;
    padding-top: .5rem;
}

.trendingUser{
    grid-column: 2;
}

.cardIcons{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1rem;
    padding-top: 1rem;
}

.cardIcons img{
    height: 1.5rem;
    margin-top: 1rem;
}

.sideSection{
    max-width: 18rem;
}

/* left column list */
li > img {
    height: 1.25rem;
    filter: invert(100%);
    vertical-align: middle;
    padding-right: 0.5rem;
}

li > p{
    display: inline;
}


.sidebarNav{
    list-style: none;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.7rem;
}

.dashIcon{
    width: 2.75rem;
    filter: invert(100%);
    padding-right: .33rem;
}

h1{
    font-size: 1.4rem;
    /* display: inline;
    vertical-align: middle; */

}

.yourProjects{
    padding-left: 1rem;
    padding-bottom: .5rem;
    margin-top: 1.5rem;
}


.sidebar ul{
    padding-top: 2rem;
    font-weight: 700;
}

.dashHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.blackIcon{
    height: 1.25rem;
}

/* image in top right of screen */
.smallProfile{
    height: 2.5rem;  
}

.headerIcon{
    height: 4rem;
    margin-bottom: .5rem;
}

.header:nth-child(1){
    padding-left: 1rem;
}

.listBreak{
    margin-bottom: 2.5rem;
}

.card, .announcementGrid , .trendingSection{
    box-shadow: 3px 2px 5px 0px #BCBCBC;
    border-radius: .5rem;
}

/* Typography */

