*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar{
    background-color: #1992d4;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    background-color: white;
    color: purple;
}

.headerUpper{
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    gap: 1rem;
}
.headerLower{
    display: grid;
    background-color: aquamarine;
    grid-template-columns: 1fr 7fr 5fr;
    grid-row: 1fr 1fr;
}

.lowerIcon{
    grid-row: 1/3;
    display: grid;
    align-content: center;
    justify-items: center;
}

.headerButtons{
    display: grid;
    grid-row: 1/3;
    grid-column: 3/3;
    grid-template-columns: repeat(3, 1fr);
}


.main{
    background-color: #e2e8f0;
    grid-column: 2/2;
    grid-row: 2/2;
}

.searchBar{
    background-color: #e2e8f0;
    border: none;
    width: 25rem;
    grid-column: 2/ 3;
}

.upperRight{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(190, 144, 144);
    justify-items: end;
}

.card{
    background-color: green;
    margin: 1rem;
}

.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projectSection{
    grid-column: 1;
}

.cardWrapper{
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    background-color: pink;
}

.announcementTitle{
    color: fuchsia;
}

.announcementGrid{
    background-color: orangered;
    padding: 1rem;
}

.trendingSection{
    background-color: brown;
}