*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar{
    background-color: #1992d4;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
    color: purple;
}

.main{
    background-color: #e2e8f0;
    grid-column: 2/2;
    grid-row: 2/2;
}